<!--Page Content-->
<div class="content container-fluid">
    <div class="row" style="display:none;">
        <div class="col-md-12">
            <!-- <ngx-extended-pdf-viewer
            [src]="'assets/pdf/Leave_settlement1.pdf'" [useBrowserLocale]="true"
            zoom="50%" class="print-box" id="print-section" width="100%" height="700"></ngx-extended-pdf-viewer> -->
            <iframe src='assets/pdf/Leave_settlement1.pdf' 
            class="print-box" id="print-section" width="100%" height="700"
        	frameborder='0' style='border:0;' 
            width="100%" height="700">
            <!-- <embed [src]="assets/pdf/Leave_settlement1.pdf" [useBrowserLocale]="true"
             class="print-box" id="print-section" width="100%" height="700"> -->
            </iframe>
        </div>
    </div>
    <!-- <ngx-extended-pdf-viewer
      [src]="'/assets/pdfs/Portugues-para-principiantes-1538054164.pdf'"
      [useBrowserLocale]="true"
      zoom="50%">
    </ngx-extended-pdf-viewer> -->
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Leave Settlement List</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Leave</a></li>
                    <li class="breadcrumb-item active">Leave Settlement List</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <button class="btn btn-md btn-primary" style="border-radius: 5px;"  printSectionId="print-section" [useExistingCss]="true" ngxPrint><i class="fa fa-print"></i> Print</button>
                &nbsp;
                <button class="btn btn-md btn-danger get-pdf" style="border-radius: 5px;"><i class="fa fa-file-pdf-o"></i> Export to Pdf</button>
                &nbsp;
                <button class="btn btn-md btn-success exceller" style="border-radius: 5px;"><i class="fa fa-file-excel-o"></i> Export to Excel</button>
                &nbsp;  
                <button  class="btn btn-primary" data-toggle="modal" data-target="#add_leave_settlement"><i
                        class="fa fa-plus"></i> Add Leave Settlement</button>
            </div>
            
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive print-box" id="print-section">
                <h3 class="page-title prt-header text-center">Leave Settlement</h3>    
                <div class="row printClass">
                    <div class="col-sm-6 m-b-20">
                        <img src="assets/img/login-logo.png" class="inv-logo" alt="">
                        <ul class="list-unstyled mb-0">
                            <li>Leto Systems Pvt.Ltd</li>
                            <li>No.47. 1st Floor</li>
                            <li>Prestige Tower,Haddows Road,</li>
                            <li>Nungamabakkam, Chennai - 600006</li>
                        </ul>
                    </div>
                </div>
                <!-- -->
                <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped custom-table datatable mb-0" id="pdfSection">
                    <div style="display:none;">
                        <h3 style="font-weight:bold;">LetoSys Pvt Lt</h3>
                        <h3>No:47, 1st Floor, </h3>
                        <h3>Prestige Tower,Haddows Road,</h3>
                        <h3>Nungamabakkam,Chennai - 600006</h3>
                        <h3 class="text-center">Leave Settlement</h3>
                        <!-- <colgroup align="center"></colgroup> -->
                    </div>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Reference No</th>
                            <th>Emp.Code</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Designation</th>
                            <th>Amount</th>
                            <!-- <th class="text-center">Leave Settlement List</th> -->
                            <th class="text-center">Status</th>
                            <th class="text-center">Print</th>
                            <th  class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>JR1</td>
                            <td>008</td>
                            <td>Vijay1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>20000,00</td>
                            <!-- <td class="text-center">0</td> -->
                            <td class="text-center">
                                <div class="dropdown action-label">
                                    <a href="" class="btn btn-white btn-sm btn-rounded dropdown-toggle penShowHideDrop"
                                        data-toggle="dropdown" aria-expanded="false"><i
                                            class="fa fa-dot-circle-o text-danger"></i>Pending </a>
                                            <a href="" class="btn btn-white btn-sm btn-rounded dropdown-toggle comShowDrop"
                                        data-toggle="dropdown" aria-expanded="false"><i class="fa fa-dot-circle-o text-success"></i>Completed</a>
                                            
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item penShowHide"><i class="fa fa-dot-circle-o text-danger"></i>
                                            Pending</a>
                                        <a class="dropdown-item comShowHide"><i class="fa fa-dot-circle-o text-success"></i>
                                            Completed</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="leave-action text-center">
                                    <!-- routerLink = "../leave-settlement-pdf/" -->
                                    <!-- href="assets/pdf/Leave_settlement1.pdf" -->
                                    <!-- printSectionId="print-section" [useExistingCss]="true" ngxPrint -->
                                    <a href="assets/pdf/Leave_settlement1.pdf" class="payslip-print"><button class="btn btn-sm btn-primary payslip-print"><i class="fa fa-print"></i></button>
                                    </a>
                                </div>
                            </td>
                            
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a  class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"  data-toggle="modal"
                                            data-target="#edit_leavetype" (click)="edit(leaveType.id)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item"  data-toggle="modal"
                                            data-target="#delete_leavetype" (click)="tempId = leaveType.id"><i class="fa fa-trash-o m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>JR1</td>
                            <td>008</td>
                            <td>Vijay1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>20000,00</td>
                            <!-- <td class="text-center">0</td> -->
                            <td class="text-center">
                                <div class="dropdown action-label">
                                    <a href="" class="btn btn-white btn-sm btn-rounded dropdown-toggle penShowHideDrop2"
                                        data-toggle="dropdown" aria-expanded="false"><i
                                            class="fa fa-dot-circle-o text-danger"></i>Pending </a>
                                            <a href="" class="btn btn-white btn-sm btn-rounded dropdown-toggle comShowDrop2"
                                        data-toggle="dropdown" aria-expanded="false"><i class="fa fa-dot-circle-o text-success"></i>Completed</a>
                                            
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item penShowHide2"><i class="fa fa-dot-circle-o text-danger"></i>
                                            Pending</a>
                                        <a class="dropdown-item comShowHide2"><i class="fa fa-dot-circle-o text-success"></i>
                                            Completed</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="leave-action text-center">
                                    <!-- printSectionId="print-section" [useExistingCss]="true" ngxPrint -->
                                    <a href="assets/pdf/Leave_settlement1.pdf" class="payslip-print2"><button class="btn btn-sm btn-primary payslip-print2"><i class="fa fa-print"></i></button></a>
                                </div>
                            </td>
                            
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a  class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"  data-toggle="modal"
                                            data-target="#edit_leavetype" (click)="edit(leaveType.id)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item"  data-toggle="modal"
                                            data-target="#delete_leavetype" (click)="tempId = leaveType.id"><i class="fa fa-trash-o m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Add Leavetype Modal -->
    <div id="add_leave_settlement" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Leave Settlement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="addLeave()" [formGroup]="addLeaveType">
                        <div class="select form-group">
                            <label>Employee <span class="text-danger">*</span></label>
                            <select class="form-control" type="text">
                                <option>--Select--</option>
                                <option>0070-Amalesh</option>
                                <option>0071-John Deo</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Leave Request No<span class="text-danger">*</span></label>
                            <input class="form-control" placeholder="Leave Request" type="text">
                            
                        </div>

                        <div class="form-group">
                            <label>Leave Salary Days <span class="text-danger">*</span></label>
                            <input class="form-control" placeholder="Leave Salary Days" type="text">
                            
                        </div>
                        <div class="form-group">
                            <label>Leave Salary Amount <span class="text-danger">*</span></label>
                            <input class="form-control" placeholder="Leave Salary Amount" type="text" >
                            
                        </div>
                        <div class="form-group">
                            <label>Attachment <span class="text-danger">*</span></label>
                            <input class="form-control" type="file" >
                            
                        </div>
                        <div class="form-group">
                            <label>Discription</label>
                            <textarea class="form-control" placeholder="Discription" type="text"></textarea>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Leavetype Modal -->

</div>
<!--/Page Content-->