
<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Location</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Location</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <!-- /Page Content -->
                <button class="btn btn-md btn-primary" style="border-radius: 5px;"  printSectionId="print-section" [useExistingCss]="true" ngxPrint><i class="fa fa-print"></i> Print</button>
                &nbsp;
                <button class="btn btn-md btn-danger get-pdf" style="border-radius: 5px;"><i class="fa fa-file-pdf-o"></i> Export to Pdf</button>
                &nbsp;
                <button class="btn btn-md btn-success exceller" style="border-radius: 5px;"><i class="fa fa-file-excel-o"></i> Export to Excel</button>
                &nbsp;  
                <button  class="btn btn-primary" data-toggle="modal" data-target="#add_Location" style="border-radius: 5px"><i class="fa fa-plus"></i> Add Location</button>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive  print-box" id="print-section">
                <h3 class="page-title prt-header text-center">Location</h3>    
                <div class="row printClass">
                    <div class="col-sm-6 m-b-20">
                        <img src="assets/img/login-logo.png" class="inv-logo" alt="">
                        <ul class="list-unstyled mb-0">
                            <li>Leto Systems Pvt.Ltd</li>
                            <li>No.47. 1st Floor</li>
                            <li>Prestige Tower,Haddows Road,</li>
                            <li>Nungamabakkam, Chennai - 600006</li>
                        </ul>
                    </div>
                </div>
                <!-- -->
                
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-striped custom-table datatable nowrap mb-0 " id="pdfSection">
                    <div style="display:none;">
                        <h3 style="font-weight:bold;">LetoSys Pvt Lt</h3>
                        <h3>No:47, 1st Floor, </h3>
                        <h3>Prestige Tower,Haddows Road,</h3>
                        <h3>Nungamabakkam,Chennai - 600006</h3>
                        <h3 class="text-center">Location</h3>
                        <!-- <colgroup align="center"></colgroup> -->
                    </div>
                        
                    <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            <th>Location Code</th>
                            <th>Location Name</th>
                            <th class="text-center">Status</th>
                            <!-- <th  class="prt text-center">Print</th> -->
                            <th class="text-right prt">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstLocation">
                            <td>{{item.uid}}</td>
                            <td>{{item.locationCode}}</td>
                            <td>{{item.locationName}}</td>
                            <td class="text-center">
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fa fa-dot-circle-o text-purple"></i>{{status || statusValue}}
                                        {{item.status}}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <!-- getStatus()    added item.id-->
                                        <a class="dropdown-item" (click)="getStatus('Active',item.uid)"><i
                                                class="fa fa-dot-circle-o text-purple"></i>
                                            Active</a>
                                        <a class="dropdown-item" (click)="getStatus('Deactive',item.uid)"><i
                                                class="fa fa-dot-circle-o text-danger"></i>
                                            Inactive</a>
                                        <!-- <a class="dropdown-item" (click)="getStatus('Approved')"><i
                                                class="fa fa-dot-circle-o text-success"></i> Approved</a>
                                        <a class="dropdown-item" (click)="getStatus('Declined')"><i
                                                class="fa fa-dot-circle-o text-danger"></i>
                                            Declined</a> -->
                                    </div>
                                </div>
                            </td>
                            <!-- <td class="prt">
                                <div class="leave-action text-center">
                                    <button class="btn btn-sm btn-primary"  printSectionId="print-section" [useExistingCss]="true" ngxPrint><i class="fa fa-print"></i></button>
                                    &nbsp;
                                    <button class="btn btn-sm btn-danger get-pdf"><i class="fa fa-file-pdf-o"></i></button>
                                    &nbsp;
                                    <button class="btn btn-sm btn-success exceller"><i class="fa fa-file-excel-o"></i></button>
                                </div>
                            </td> -->
                            <td class="text-right prt">
                                <div class="dropdown dropdown-action">
                                    <a  class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"  data-toggle="modal"
                                            data-target="#edit_Location" (click)="edit(item.uid)"><i
                                                class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item"  data-toggle="modal"
                                            data-target="#delete_Location" (click)="tempId = item.uid"><i
                                                class="fa fa-trash-o m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Location Modal -->
<div id="add_Location" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addLocation()" [formGroup]="addLocationForm">
                    <div class="form-group">
                        <label>Location Code <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" placeholder="Location Code"
                            [class.invalid]="addLocationForm.get('LocationCode').invalid && addLocationForm.get('LocationCode').touched"
                            formControlName="LocationCode">
                        <div
                            *ngIf="addLocationForm.get('LocationCode').invalid && addLocationForm.get('LocationCode').touched">
                            <small
                                *ngIf="addLocationForm.get('LocationCode').invalid && addLocationForm.get('LocationCode').touched"
                                class="text-danger"> *Location Code required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Location Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" placeholder="Location Name"
                            [class.invalid]="addLocationForm.get('LocationName').invalid && addLocationForm.get('LocationName').touched"
                            formControlName="LocationName">
                        <div
                            *ngIf="addLocationForm.get('LocationName').invalid && addLocationForm.get('LocationName').touched">
                            <small
                                *ngIf="addLocationForm.get('LocationName').invalid && addLocationForm.get('LocationName').touched"
                                class="text-danger"> *Location Name required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Site</label>
                        <select class="select form-control" type="text">
                            <option>--Select--</option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" type="text" placeholder="Description"></textarea>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Location Modal -->

<!-- Edit Location Modal -->
<div id="edit_Location" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editLocation()" [formGroup]="editLocationForm">
                    <div class="form-group">
                        <label>Location Code <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" placeholder="Location Code"
                            [class.invalid]="editLocationForm.get('LocationCode').invalid && editLocationForm.get('LocationCode').touched"
                            formControlName="LocationCode">
                        <div
                            *ngIf="editLocationForm.get('LocationCode').invalid && editLocationForm.get('LocationCode').touched">
                            <small
                                *ngIf="editLocationForm.get('LocationCode').invalid && editLocationForm.get('LocationCode').touched"
                                class="text-danger"> *Location Code required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Location Name <span class="text-danger">*</span></label>
                        <input class="form-control" value="IT Management" type="text" placeholder="Location Name"
                            [class.invalid]="editLocationForm.get('LocationName').invalid && editLocationForm.get('LocationName').touched"
                            formControlName="LocationName">
                        <div
                            *ngIf="editLocationForm.get('LocationName').invalid && editLocationForm.get('LocationName').touched">
                            <small
                                *ngIf="editLocationForm.get('LocationName').invalid && editLocationForm.get('LocationName').touched"
                                class="text-danger"> *Location Name required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Site</label>
                        <select class="select form-control" type="text">
                            <option>--Select--</option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Location Modal -->

<!-- Delete Location Modal -->
<div class="modal custom-modal fade" id="delete_Location" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Location</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"
                                (click)="deleteLocation()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editor"></div>
<!-- /Delete Location Modal -->