/* multiselect-dropdown */
:host ::ng-deep .multiselect-dropdown .dropdown-btn {
    border: none !important;
    padding: 5px 12px !important;
}
:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
    background-color: #495057  !important;
    border:1px solid #495057  !important;
}